/* Root Variables */

:root {
  --color-header: #336d97;
  --color-text: #656565;

  --primary-font: "Courier Prime", monospace, sans-serif;
  --header-font-size: clamp(2rem, 4vw, 3rem);
  --text-font-size: clamp(1rem, 2vw, 1.5rem);

  --spacing-standard: 0.75rem;
  --spacing-verses: 3rem;

}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 2rem;
  margin-bottom: 2rem;
}

.header-item-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.header-item {
  font-family: var(--primary-font);
  color: var(--color-text);
  padding: 0.25rem;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.main-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-verses);
  align-items: center;
}

.verse-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-standard);
  width: 100%;

}   

.verse-body p {
  font-size: var(--text-font-size);
  font-family: var(--primary-font);
  color: var(--color-text);
  margin: 0.25rem;
  padding-left: clamp(6rem, 25vw, 18rem);
  padding-right: clamp(4rem, 5vw, 6rem);
}


h1 {
  font-size: var(--header-font-size);
  color: var(--color-header);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1rem;
  text-align: center;
}




