/* Root Variables */

:root {
  --color-header: #0b3d61;
  --color-text: #656565;
  --color-hover: rgb(177, 220, 255);

  --primary-font: "Courier Prime", monospace, sans-serif;
  --header-font-size: clamp(2rem, 4vw, 3rem);
  --text-font-size: clamp(1rem, 2vw, 1.5rem);

  --spacing-standard: 0.75rem;
  --spacing-verses: 3rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.header-item-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.header-item {
  font-family: var(--primary-font);
  color: var(--color-text);
  padding: 0.25rem;
}

.tab-link {
  transition: 0.3s ease;
}

.tab-link:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1rem;
}

.main-section {
  display: none;
}

.main-section.active {
  display: block;
  grid-column: 2 / 2;
  align-items: start;
}

.secondary-section {
  display: none;
}

.secondary-section.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 2 / 2;
  align-items: start;
}

.secondary-section p {
  font-size: var(--text-font-size);
  font-family: var(--primary-font);
  color: var(--color-text);
  margin: 1rem 3rem 1rem 3rem;
  text-align: left;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  line-height: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verse-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-standard);
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.verse-body p {
  font-size: var(--text-font-size);
  font-family: var(--primary-font);
  color: var(--color-text);
  margin: 0;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.verse-body pre {
  font-size: var(--text-font-size);
  font-family: var(--primary-font);
  color: var(--color-text);
  margin: 0;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.verse-divider {
  display: block;
  width: 100%;
  height: var(--spacing-verses);
}

h1 {
  font-size: var(--header-font-size);
  color: var(--color-header);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 1rem;
  text-align: center;
}

h2 {
  font-size: var(--header-font-size);
  color: var(--color-header);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-self: center;
}
